@{
    ViewData["Title"] = "Home";
}

<h2>Choose an option:</h2>

<div class="row">
    <div class="col-sm-6">
        <h3>Makes</h3>
        <p>
            <a class="btn btn-primary" href="@Url.Action("Index", "VehicleMakes")">Go to Makes</a>
        </p>
    </div>
    <div class="col-sm-6">
        <h3>Models</h3>
        <p>
            <a class="btn btn-primary" href="@Url.Action("Index", "VehicleModels")">Go to Models</a>
        </p>
    </div>
</div>